[Unit]
Description=XELBOT Discord bot background service
After=network.target

[Service]
Type=simple
User=xelbot
ExecStart=/usr/bin/uv run bot.py
WorkingDirectory=/opt/xelbot
Restart=on-failure

[Install]
WantedBy=multi-user.target
